<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"pna-principal pna-inicio","layout":{"type":"constrained"}} -->
<main class="wp-block-group pna-principal pna-inicio">
	<!-- wp:group {"className":"pna-inicio__topo","layout":{"type":"default"}} -->
	<div class="wp-block-group pna-inicio__topo">
		<!-- wp:pattern {"slug":"pna/contador-adocoes"} /-->

		<!-- wp:post-featured-image {"className":"is-style-pna-foto"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"pna-inicio__secao","layout":{"type":"default"}} -->
	<div class="wp-block-group pna-inicio__secao">
		<!-- wp:pattern {"slug":"pna/grade-postagens"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"pna-inicio__secao","layout":{"type":"default"}} -->
	<div class="wp-block-group pna-inicio__secao">
		<!-- wp:pattern {"slug":"pna/grade-pets"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"pna-inicio__secao","layout":{"type":"default"}} -->
	<div class="wp-block-group pna-inicio__secao">
		<!-- wp:pattern {"slug":"pna/cards-doacao"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"pna-inicio__secao","layout":{"type":"default"}} -->
	<div class="wp-block-group pna-inicio__secao">
		<!-- wp:pattern {"slug":"pna/atalhos-duvidas"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
