<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"pna-principal","layout":{"type":"constrained","contentSize":"860px"}} -->
<main class="wp-block-group pna-principal">
	<!-- wp:pna/breadcrumb /-->

	<!-- wp:post-title {"level":1} /-->

	<!-- wp:post-date {"fontSize":"small"} /-->

	<!-- wp:post-featured-image {"className":"is-style-pna-foto"} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:paragraph {"className":"is-style-pna-link-seta"} -->
	<p class="is-style-pna-link-seta"><a href="/postagens/">Ver todas as postagens</a></p>
	<!-- /wp:paragraph -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
